// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Jun Yan <jerrysteve1101@gmail.com>
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3326.dtsi"

/ {
	model = "Sayinfo RNS-008";
	compatible = "sayinfo,rns-008", "rockchip,rk3326";

	aliases {
		mmc0 = &emmc;
		mmc1 = &sdmmc;
		mmc2 = &sdio;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 2>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-vol-down {
			label = "volume down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <300000>;
		};

		button-vol-up {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <17000>;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		enable-gpios = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
		pwms = <&pwm1 0 25000 0>;
		brightness-levels = <255 254 253 252 251 250 249 248
				    247 246 245 244 243 242 241 240
				    239 238 237 236 235 234 233 232
				    231 230 229 228 227 226 225 224
				    223 222 221 220 219 218 217 216
				    215 214 213 212 211 210 209 208
				    207 206 205 204 203 202 201 200
				    199 198 197 196 195 194 193 192
				    191 190 189 188 187 186 185 184
				    183 182 181 180 179 178 177 176
				    175 174 173 172 171 170 169 168
				    167 166 165 164 163 162 161 160
				    159 158 157 156 155 154 153 152
				    151 150 149 148 147 146 145 144
				    143 142 141 140 139 138 137 136
				    135 134 133 132 131 130 129 128
				    127 126 125 124 123 122 121 120
				    119 118 117 116 115 114 113 112
				    111 110 109 108 107 106 105 104
				    103 102 101 100 99 98 97 96
				    95 94 93 92 91 90 89 88
				    87 86 85 84 83 82 81 80
				    79 78 77 76 75 74 73 72
				    71 70 69 68 67 66 65 64
				    63 62 61 60 59 58 57 56
				    55 54 53 52 51 50 49 48
				    47 46 45 44 43 42 41 40
				    39 38 37 36 35 34 33 32
				    31 30 29 28 27 26 25 24
				    23 22 22 22 22 22 22 22
				    22 22 22 22 22 22 22 22
				    22 22 22 22 22 22 22 22>;
		default-brightness-level = <200>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		pinctrl-0 = <&wifi_enable_h>;
		pinctrl-names = "default";
		reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>;
	};

	spk_amp: audio-amplifier {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
		vcc-supply = <&spk_amp_vcc>;
		pinctrl-0 = <&spk_amp_enable_h>;
		pinctrl-names = "default";
		sound-name-prefix = "Speaker Amp";
	};

	spk_amp_vcc: regulator-spk-amp-vcc {
		compatible = "regulator-fixed";
		regulator-name = "spk_amp_vcc";
		gpio = <&gpio3 RK_PA0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
		pinctrl-0 = <&spk_amp_vcc_h>;
		pinctrl-names = "default";
	};

	dmic_codec: dmic-codec {
		compatible = "dmic-codec";
		num-channels = <4>;
		#sound-dai-cells = <0>;
	};

	rk809-sound {
		compatible = "simple-audio-card";
		pinctrl-0 = <&hp_det>;
		pinctrl-names = "default";
		simple-audio-card,aux-devs = <&spk_amp>;
		simple-audio-card,hp-det-gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_LOW>;
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rk817_ext";
		simple-audio-card,pin-switches = "Internal Speakers";
		simple-audio-card,routing =
			"MICL", "Mic Jack",
			"MICR", "Mic Jack",
			"Headphones", "HPOL",
			"Headphones", "HPOR",
			"Internal Speakers", "Speaker Amp OUTL",
			"Internal Speakers", "Speaker Amp OUTR",
			"Speaker Amp INL", "HPOL",
			"Speaker Amp INR", "HPOR";
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphones",
			"Speaker", "Internal Speakers";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";

			cpu {
				sound-dai = <&i2s1_2ch>;
			};

			codec {
				sound-dai = <&rk809>;
			};
		};

		simple-audio-card,dai-link@1 {
			reg = <1>;
			format = "pdm";

			cpu {
				sound-dai = <&pdm>;
			};

			codec {
				sound-dai = <&dmic_codec>;
			};
		};
	};

	vccsys: regulator-vccsys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu1 {
	cpu-supply = <&vdd_arm>;
};

&cpu2 {
	cpu-supply = <&vdd_arm>;
};

&cpu3 {
	cpu-supply = <&vdd_arm>;
};

&cru {
	assigned-clocks = <&cru PLL_NPLL>,
		<&cru ACLK_BUS_PRE>, <&cru ACLK_PERI_PRE>,
		<&cru HCLK_BUS_PRE>, <&cru HCLK_PERI_PRE>,
		<&cru PCLK_BUS_PRE>, <&cru SCLK_GPU>;

	assigned-clock-rates = <1188000000>,
		<200000000>, <200000000>,
		<150000000>, <150000000>,
		<100000000>, <200000000>;
};

&display_subsystem {
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	ports {
		mipi_out: port@1 {
			reg = <1>;

			mipi_out_panel: endpoint {
				remote-endpoint = <&mipi_in_panel>;
			};
		};
	};

	panel@0 {
		compatible = "sayinfo,rns-008-panel";
		reg = <0>;
		backlight = <&backlight>;
		enable-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
		stbyb-gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>;
		iovcc-supply = <&vdd1v8_lcd>;
		vcc-supply = <&vcc3v3_lcd>;

		port {
			mipi_in_panel: endpoint {
				remote-endpoint = <&mipi_out_panel>;
			};
		};
	};
};

&dsi_dphy {
	status = "okay";
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	non-removable;
	vmmc-supply = <&vcc3v3_sys>;
	vqmmc-supply = <&vcc1v8_soc>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_logic>;
	status = "okay";
};

&i2c0 {
	clock-frequency = <400000>;
	i2c-scl-falling-time-ns = <16>;
	i2c-scl-rising-time-ns = <280>;
	status = "okay";

	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		#clock-cells = <1>;
		clock-names = "mclk";
		clock-output-names = "rk808-clkout1", "xin32k";
		clocks = <&cru SCLK_I2S1_OUT>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB2 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&pmic_int>, <&i2s1_2ch_mclk>;
		pinctrl-names = "default";
		#sound-dai-cells = <0>;
		system-power-controller;
		wakeup-source;

		vcc1-supply = <&vccsys>;
		vcc2-supply = <&vccsys>;
		vcc3-supply = <&vccsys>;
		vcc4-supply = <&vccsys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vccsys>;

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vdd_arm: DCDC_REG2 {
				regulator-name = "vdd_arm";
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_3v0: DCDC_REG4 {
				regulator-name = "vcc_3v0";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc3v3_sys: DCDC_REG5 {
				regulator-name = "vcc3v3_sys";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_1v0: LDO_REG1 {
				regulator-name = "vcc_1v0";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2500000>;
				};
			};

			vcc1v8_soc: LDO_REG2 {
				regulator-name = "vcc1v8_soc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc1v0_soc: LDO_REG3 {
				regulator-name = "vcc1v0_soc";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vcc3v0_pmu: LDO_REG4 {
				regulator-name = "vcc3v0_pmu";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_sd: LDO_REG6 {
				regulator-name = "vcc_sd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc2v8_dvp: LDO_REG7 {
				regulator-name = "vcc2v8_dvp";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2800000>;
				};
			};

			vcc1v8_dvp: LDO_REG8 {
				regulator-name = "vcc1v8_dvp";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd1v8_lcd: LDO_REG9 {
				regulator-name = "vdd1v8_lcd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc3v3_lcd: SWITCH_REG1 {
				regulator-name = "vcc3v3_lcd";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc5v0_host: SWITCH_REG2 {
				regulator-name = "vcc5v0_host";
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};

&i2c1 {
	clock-frequency = <400000>;
	status = "okay";

	touchscreen@40 {
		compatible = "silead,gsl1680";
		reg = <0x40>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB5 IRQ_TYPE_EDGE_FALLING>;
		power-gpios = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
	};
};

&i2s1_2ch {
	pinctrl-0 = <&i2s1_2ch_sclk &i2s1_2ch_lrck &i2s1_2ch_sdo>;
	status = "okay";
};

&io_domains {
	vccio1-supply = <&vcc1v8_soc>;
	vccio2-supply = <&vccio_sd>;
	vccio3-supply = <&vcc1v8_dvp>;
	vccio4-supply = <&vcc1v8_soc>;
	vccio5-supply = <&vcc_3v0>;
	status = "okay";
};

&pdm {
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pdm_clk1
		     &pdm_sdi1
		     &pdm_sdi2>;
	pinctrl-1 = <&pdm_clk1_sleep
		     &pdm_sdi1_sleep
		     &pdm_sdi2_sleep>;
	/* microphones are on channels 1 and 2 */
	rockchip,path-map = <1>, <2>, <0>, <3>;
};

&pmu_io_domains {
	pmuio1-supply = <&vcc3v0_pmu>;
	pmuio2-supply = <&vcc3v0_pmu>;
	status = "okay";
};

&saradc {
	vref-supply = <&vcc1v8_soc>;
	status = "okay";
};

&sdio {
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	no-mmc;
	no-sd;
	non-removable;
	sd-uhs-sdr104;
	status = "okay";
};

&sdmmc {
	cap-sd-highspeed;
	card-detect-delay = <200>;
	cd-gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_LOW>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&tsadc {
	status = "okay";
};

&u2phy {
	status = "okay";

	u2phy_otg: otg-port {
		status = "okay";
	};
};

&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	uart-has-rtscts;
	status = "okay";

	bluetooth: bluetooth {
		compatible = "realtek,rtl8723bs-bt";
		device-wake-gpios = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio0 RK_PA7 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&bt_reset>, <&bt_wake_dev>, <&bt_wake_host>;
		pinctrl-names = "default";
	};
};

&usb20_otg {
	dr_mode = "otg";
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&pinctrl {
	bluetooth {
		bt_reset: bt-reset {
			rockchip,pins = <0 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		bt_wake_dev: bt-wake-dev {
			rockchip,pins = <0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_host: bt-wake-host {
			rockchip,pins = <0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pmic {
		pmic_int: pmic-int {
			rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins = <0 RK_PA4 RK_FUNC_GPIO &pcfg_output_low>;
		};

		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins = <0 RK_PA4 2 &pcfg_pull_none>;
		};

		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins = <0 RK_PA4 1 &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	speaker {
		spk_amp_enable_h: spk-amp-enable-h {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		spk_amp_vcc_h: spk-amp-vcc-h {
			rockchip,pins = <3 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};